<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Gulp Hologram - Gulpogram</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" />
</head>

<body>
    <div class="row">
        <div class="col-sm-2">
            <ul class="nav nav-pills nav-stacked">
                {{#each items}}
                <li class="list-item"><a href="#{{this.name}}">{{this.name}}</a>
                </li>
                {{/each}}
            </ul>
        </div>

        <div class="col-sm-8">
            {{#each items}}
            <div class="item" id="{{this.name}}">
                <h2>{{this.name}}</h2>
                {{{this.content}}}
            </div>
            {{/each}}
        </div>
    </div>
</body>

</html>
