<!DOCTYPE html>
<html lang="en">

    <head>
        <meta charset="UTF-8">
        <title>
            {{#if title}}{{title}} | {{/if}}Hologram
        </title>
        <link rel="stylesheet" type="text/css" href="{{stylesheet}}">
    </head>

    <body>
        <div>
            <div>
                <ul>
                    {{#each items}}
                        <li><a href="#{{this.name}}">{{this.name}}</a></li>
                    {{/each}}
                </ul>
            </div>
            <div>
                {{#if colors}}
                    <div>
                        {{#each colors}}
                            <div style="background: {{this}}">
                                {{@key}}
                            </div>
                        {{/each}}
                    </div>
                {{/if}}
                {{#each items}}
                    <div id="{{this.name}}">
                        <h2>{{this.name}}</h2> {{{this.content}}}
                    </div>
                {{/each}}
            </div>
        </div>
        {{#if script}}
            <script type="text/javascript" src="{{script}}"></script>
        {{/if}}
    </body>

</html>
