.hologram {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    margin: 0;
    padding: 0;
    color: #333
}

.hologram-sideNav {
    position: fixed;
    top: 0;
    bottom: 0;
    overflow-x: hidden;
    width: 20%;
    border-right: 1px solid #9d9d9d;
    background-color: #f0f0f0
}

.hologram-sideNav__wrap {
    overflow-x: hidden;
    overflow-y: auto;
    height: 100%;
    margin-right: -10%;
    background: linear-gradient(#f0f0f0 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #fff 70%) 0 100%, radial-gradient(50% 0, farthest-side, rgba(0, 0, 0, .47), transparent), radial-gradient(50% 100%, farthest-side, rgba(0, 0, 0, .47), transparent) 0 100%;
    background: linear-gradient(#f0f0f0 30%, rgba(255, 255, 255, 0)), linear-gradient(rgba(255, 255, 255, 0), #fff 70%) 0 100%, radial-gradient(farthest-side at 50% 0, rgba(0, 0, 0, .47), transparent), radial-gradient(farthest-side at 50% 100%, rgba(0, 0, 0, .47), transparent) 0 100%;
    background-color: #f0f0f0;
    background-repeat: no-repeat;
    background-attachment: local, local, scroll, scroll;
    background-size: 90% 40px, 90% 40px, 90% 14px, 90% 14px
}

.hologram-sideNav__list {
    width: calc(100% + 20px);
    margin: 0;
    padding: 0;
    list-style: none
}

.hologram-sideNav__list-item > * {
    margin: 0;
    padding: 10px calc(10% + 20px) 10px 20px
}

.hologram-sideNav__list-title {
    color: #f0f0f0;
    border-bottom: 1px solid #9d9d9d;
    background-color: #333;
    display: block;
    transition: all .1s ease;
    text-decoration: none
}

.hologram-sideNav__list-link {
    display: block;
    transition: all .1s ease;
    text-decoration: none;
    color: #333
}

.hologram-sideNav__list-link:hover, .hologram-sideNav__list-title:hover {
    transition: all .1s ease
}

.hologram-sideNav__list-link:hover {
    color: #f0f0f0;
    background-color: #333
}

.hologram-styleguide {
    width: calc(80% - 1px);
    margin-left: calc(20% + 1px)
}

.hologram-styleguide__section-title, .hologram-styleguide__title {
    margin: 0;
    padding: 1rem;
    border-bottom: 1px solid #9d9d9d
}

.hologram-styleguide__item {
    position: relative;
    padding: 1rem;
    background: #fff
}

.hologram-styleguide__item:not(:last-child):after {
    position: relative;
    display: block;
    width: 50%;
    height: 1px;
    margin: 1rem auto;
    content: '';
    background: #9d9d9d
}

.hologram-styleguide__color-pallette {
    display: flex;
    padding: 1em;
    justify-content: space-between;
    flex-wrap: wrap
}

.hologram-styleguide__color-pallette-item {
    overflow: hidden;
    width: 25%;
    margin-bottom: 1em;
    padding: 0 1em;
    flex-grow: 1
}

.hologram-styleguide__color-pallette-item-swatch {
    float: left;
    width: 2.5em;
    height: 2.5em;
    margin-right: 10px;
    border: 1px solid #9d9d9d;
    border-radius: 100%
}

.hologram-styleguide__color-pallette-item-text {
    overflow: hidden
}

.hologram-styleguide__color-pallette-item-name, .hologram-styleguide__color-pallette-item-val {
    display: block;
    margin-bottom: 10px
}

.hologram-styleguide__font-item {
    padding: 1em
}

.hologram-styleguide__font-item-swatch {
    padding: 1em;
    border: 1px solid #9d9d9d
}

.hologram__ide-links {
    position: absolute;
    top: 0;
    right: 1em
}

.hologram__ide-links > * {
    font: 0/0 a;
    display: inline-block;
    width: 32px;
    height: 32px;
    color: transparent;
    border: 0;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    text-shadow: none
}

.hologram__ide-link--txmt {
    background-image: url(icons/TextMate.png)
}

.hologram__ide-link--subl {
    background-image: url(icons/Sublime.png)
}

.hologram__ide-link--phpstorm {
    background-image: url(icons/PhpStorm.png)
}

pre {
    margin-bottom: 14px;
    padding: .5em 1em;
    white-space: pre-wrap;
    border: 1px solid #9d9d9d;
    background-color: #f0f0f0
}

code {
    line-height: 1.4;
    display: inline-block;
    padding: 0 .5em;
    background: #f0f0f0
}

.hologram-styleguide__item h1, .hologram-styleguide__item h2, .hologram-styleguide__item h3, .hologram-styleguide__item h4, .hologram-styleguide__item h5, .hologram-styleguide__item h6 {
    font-weight: 400;
    margin-top: 0
}